
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>David Deuber</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="../index.html">David Deuber</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Ride</a></li>
              <li><a href="ski.html">Ski</a></li>
              <li><a href="family.html">Family</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="https://www.linkedin.com/in/ddeuber">my Linked In</a></li>
                  <li><a target="_blank" href="https://github.com/deuber">my Github</a></li>
                  <li><a target="_blank" href="https://fitbike.herokuapp.com/">my App</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="main-unit">
        <div class="row">
          <!-- left -->
          <div class="span6">
            <h1>Ride</h1>
            <p>I tried out for the college football team but failed miserably when a pulling guard stepped on my foot breaking it in several places. The subsequent lack of exercise led me to gain about 30-40 pounds. Argh, I needed to do something! For some odd reason at the same time, I became interested in watching and reading about the Tour de France. The history of the race is incredible. It inspired me to join the college cycling team, and I fell in love the sport. Eventually, I qualified and raced at the Nationals. These days I don't race but I still I love to ride and maybe more than ever. Perhaps, it wasn't such a bad thing that I broke my foot?</p>
          </div>
          <!-- right -->
          <div class="span5">
            <img src="../assets/images/sonoma800.jpg">
          </div>
        </div>
      </div>
    </div> <!-- /container -->




  </body>
</html>
